.card
    position: relative
    min-width: 300px
    max-width: 900px
    .card-img-top
        height: 100%
    .card-body
        padding: 35px
        padding-bottom: 25px
    .first-text
        font-size: 16px
        font-weight: 700
        line-height: 140%
    .second-text
        margin-bottom: 30px
        line-height: 160%
    .bottom-text
        .share
            background-color: hsl(210, 46%, 95%)
            padding: 10px
        .share[src = 'http://127.0.0.1:5500/nowe/frontendmentor/7%20-%20Article%20preview%20component/images/icon-share-active.svg']
            background-color: hsl(214, 17%, 51%)
    .share-belt
        display: none
    .share-belt.active
        display: flex
        justify-content: space-between
        align-items: center
        position: absolute
        top: 87%
        bottom: 0
        left: 0
        right: 0
        background-color: hsl(217, 19%, 35%)
        .share-active-icon
            background-color: hsl(214, 17%, 51%)
            padding: 10px
            margin-right: 19px
    .share-box
        *
            margin-left: 10px
        p
            color: hsl(212, 23%, 69%)
            letter-spacing: 5px
    .author
        img
            width: 15%
            height: 15%

@media (min-width: 995px)
    .card
        .card-body
            padding: 40px
        .first-text
            font-size: 23px
        .second-text
            font-size: 14px
